*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body,html{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    font-size: 18px;
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: #76eba6;
    transition: all 0.7s ease-in-out;
    font-size: 16px;
}
.header:hover{
    background: #5ecc8c;
}
.header img{
    height: 60px;
    width: 100px;
    border-radius: 3px;
}
.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav ul li {
    list-style: none;
    padding: 20px;
    transition: all 0.5s ease-in-out;
}
.nav ul li:hover {
    background: #76eba6;
}
.nav ul li a{
    color: rgb(2, 56, 27);
    text-decoration: none;
}
#form-recherche{
    padding: 12px;
    transition: all 0.5s ease-in-out;
}
#form-recherche input, #form-recherche button{
    padding: 10px;
    transition: all 0.7s ease-in-out;
}
#form-recherche button{
    color: rgb(2, 56, 27);
    background: #76eba6;
}
.header:hover #form-recherche button{
    background: #5ecc8c;
}

.main{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    color: rgb(2, 56, 27);
    background: #a3ffca;
    height: calc(100vh - 110px);
    width: 100%;
}
.container-connexion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: auto;
    margin: 3%;
    border-radius: 20px;
    box-shadow:  5px 5px 30px #82cca2, -5px -5px 30px #c4fff2;
    transition: all 0.7s ease-in-out;
}
.container-connexion:hover{
    box-shadow: inset -10px -10px 25px #8fe0b2, 10px 10px 25px #b7ffe2;
}
.container-connexion img{
    height: 70%;
    width: auto;
    padding-left: 20px;
}
.container-connexion img:hover{
    height: 75%;
}
.formulaire-connexion{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}
.formulaire-connexion h3{
   padding-top: 25px;
}
.formulaire-connexion p{
    padding: 25px 40px 0 40px;
}
.formulaire-connexion a{
    text-decoration: none;
    color: rgb(2, 56, 27);
}
.formulaire-connexion a:hover{
    font-size: 16px;
}
.form-connexion{
    width: 70%;
    height: auto;
    text-align: center;
    padding: 5% 10%;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 15%;
}
.form-connexion input, .form-connexion button{
    box-shadow:  inset 5px 5px 10px #bec1ca, inset -5px -5px 10px #f1f1f1; 
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 15px;
    margin: 3%;
    background:#e0eee8;
    border-radius: 30px;
    outline: none;
}
.form-connexion input{
    padding-left: 25px;
}
input:focus{
    box-shadow:  inset 2px 2px 5px #f1f1f1, inset -2px -2px 5px #bec1ca;
}
.form .checkbox{
    
}
.form-connexion button{
    background: rgb(42, 185, 42);
    box-shadow: inset 5px 5px 10px #1d821d, inset -5px -5px 10px #37f137;
    color: #0f0f0f;
}
.form-connexion button:last-child{
    box-shadow: inset 5px 5px 10px #0b610b, inset -5px -5px 10px #14b314;
    background: rgb(15, 138, 15);
}
.form-connexion button:hover{
    background: rgb(51, 223, 51);
    box-shadow: inset 5px 5px 10px #33cc33, inset -5px -5px 10px #4dff4d;
}
.form-connexion button:active{
    background: rgb(42, 185, 42);
    box-shadow: inset -2px -2px 5px #1d821d, inset 2px 2px 5px #37f137;
}
.footer{
    width: 100%;
    height: 50px;
    background: #439264;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
    transition: all 0.7s ease-in-out;
}
.footer p{
    padding: 16px;
    font-size: 15px;
}
.footer ul{
    display: flex;
    flex-direction: row;
    
}
.footer ul li {
    list-style: none;
    padding: 15px;
    
}
.footer i{
    color: rgb(2, 56, 27);
    font-size: 20px;
}
.footer a{
    padding: 12px;
}

